* {
  box-sizing: border-box;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

body {
  background: #FAFAFA;
  line-height: 1.2;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 375px;
}

button {
  border: none;
  background: none;
  font-size: 20px;
  display: inline-block;
  float: right;
  margin: 8px 16px 8px 16px;
  border: none;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  min-width: 100px;
  height: 48px;
}

/* Input form */

.todoform {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  background: #E0E0E0;
  height: 64px;
  width: 100%;
}

.todoinput {
  flex-grow: 2;
  border: none;
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 250px;
  padding: 8px;
  height: 48px;
  line-height: 1.2;
  width: 50%;
}

.todoadd {
  background: #94B997;
}

/* List of items */

.todolist {
  position: absolute;
  left: 0;
  top: 64px;
  width: 100%;
  max-height: 90%;
  overflow-y: scroll;
}

.icon {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.todoitem {
  box-shadow: inset 0px -1px 0px 0px rgba(34,34,34,0.10);
  /*height: 64px;*/
  background: #FFFFFF;
  vertical-align: middle;
  overflow-x: hidden;
  width: 100%;
}

.done {
  background: #F4F4F4;
  color: #9D9D9D;
  text-decoration: line-through;
  animation: txt-bump 0.4s ease;
}

@keyframes txt-bump {
  0% { padding-left: 0px; }
  50% { padding-left: 5px; }
  100% { padding-left: 0px; }
}

.todoitemtext {
  width: 75%;
  float:left;
  margin-left: 24px;
  overflow-x: hidden;
  overflow-y: hidden;
}


.todoitemdel {
  float:right;
  margin-right: 16px;
  margin-top: 22px;
  margin-bottom: 22px;
  background-image: url(../img/check.svg);
  padding: 0;
}

.todoitemdel.done {
  background-image: url(../img/restore.svg);
  background-repeat: no-repeat;
}

/* Footer menu */

.footer {
  background: #E0E0E0;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 64px;
  animation: bottom-pop 0.3s ease-in;
}

@keyframes bottom-pop {
  0% { bottom: -64px; }
  40% { bottom: 0px; }
  40% { height: 96px; }
  60% { height: 64px; }
  80% { height: 72px; }
  100% { height: 64px; }
}

.todoclear {
  background: #BA5638;
}

.footertext {
  width: 50%;
  float:left;
  margin-left: 24px;
}

.hidden {
  display: none;
}

/* STUFF FOR LIST ANIMATIONS */

.list-enter {
   opacity: 0.01;
}

.list-enter.list-enter-active {
   opacity: 1;
   transition: opacity 0.3s ease-in;
}

@keyframes txt-pop {
  0% { font-size: 20px; }
  75% { font-size: 22px; }
  100% { font-size: 20px; }
}


.list-leave {
   opacity: 1;
}

.list-leave.list-leave-active {
   opacity: 0.01;
   transition: opacity 0.6s ease-in;
}
